<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Braintree</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Load the client component. -->
    <script src="https://js.braintreegateway.com/web/3.97.3/js/client.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.97.3/js/data-collector.min.js"></script>
    <!-- Load the PayPal Checkout component. -->
    <script src="https://js.braintreegateway.com/web/3.97.3/js/paypal-checkout.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.7.4/jsoneditor.min.js"
        integrity="sha512-KQaWlVsZF0iPXCR8p176hVrg/rlw+smy8dpJ+vwiuvoHyGr8PTVvaAV4ZmsAYdCvMRP8e3sB9pl1mRuaunaXrg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.7.4/jsoneditor.css"
        integrity="sha512-XmjnlPNi5tkrcqMGEG7ZOpGhny9t8fdCk0oxZxjFaqF3cl3UKv+51GgeUoY3Rf/ZaGtBvMZ9dDhceGZ1hcOyMw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container mx-auto">
        <div class="header w-full flex flex-col gap-2">
            <h1 class="font-bold text-2xl">PayPal Checkout via Braintree</h1>
            <p>This is an example of how to use PayPal Checkout with Braintree</p>
            <p>Documentation : <a
                    href="https://developer.paypal.com/braintree/docs/guides/paypal/overview/javascript/v3/"
                    target="_blank" class="underline text-blue-600 hover:text-blue-800">PayPal Checkout</a></p>
        </div>
        <div class="ppContent flex flex-col lg:flex-row gap-4 my-4">
            <div class="leftSide w-full lg:w-1/2 flex flex-col gap-4">
                <div id="jsoneditor"></div>
                <!-- checkbox to save PP -->
                <div class="flex items-center">
                    <input id="savePP" type="checkbox"
                        class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500">
                    <label for="savePP" class="ml-2 text-sm font-medium text-gray-900">Save PayPal Button <span
                            class="italic">(See VAULT <a
                                href="https://developer.paypal.com/braintree/docs/guides/paypal/checkout-with-vault/javascript/v3/"
                                target="_blank"
                                class="underline text-blue-600 hover:text-blue-800">documentation</a>)</span></label>
                </div>
                <!-- checkbox to save PP -->
                <div class="flex items-center">
                    <input id="lineItems" type="checkbox"
                        class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500">
                    <label for="lineItems" class="ml-2 text-sm font-medium text-gray-900">Add line items</label>
                </div>

                <div class="flex items-center">
                    <input id="enableFundingCheckbox" type="checkbox"
                        class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500">
                    <label for="enableFundingCheckbox" class="ml-2 text-sm font-medium text-gray-900">Enable BNPL button
                        <span class="italic">(See Pay Later <a
                                href="https://developer.paypal.com/braintree/docs/guides/paypal/pay-later-offers/javascript/v3/#pay-later-button"
                                target="_blank"
                                class="underline text-blue-600 hover:text-blue-800">documentation</a>)</span></label>
                </div>

                <div>
                    <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Existing Client / returning customer 
                        <span class="italic">
                            (See Returning customer experience 
                            <a href="https://developer.paypal.com/braintree/docs/guides/paypal/checkout-with-vault/javascript/v3/#returning-customer-experience" target="_blank" class="underline text-blue-600 hover:text-blue-800">documentation</a>)
                        </span></label>
                    <input type="text" id="customerID" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="125105815" required>
                </div>

                <button id="loadPPButton"
                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Load PayPal
                    Button</button>
                <div id="paypal-button"></div>
                <div id="paypal-paylater-button"></div>
                <form action="post" id="device-data-form" class="hidden"></form>
                <div id="bnpl" class="hidden">
                    <div
                        data-pp-message
                        data-pp-layout="text"
                        data-pp-text-color="black"
                        data-pp-logo-type="inline"
                        data-pp-amount="">
                    </div>
                </div>
            </div>
            <div class="rightSide w-full lg:w-1/2">
                <div class="flex flex-col gap-2 bg-slate-100 p-4 rounded-lg">
                    <h2 class="underline">Client Token received from server :</h2>
                    <p id="clientTokenReturned" class="overflow-x-auto"></p>
                </div>
                <div class="PPresult flex flex-col gap-2 bg-slate-100 my-4 p-4 rounded-lg">
                    <h2 class="underline">Payload received :</h2>
                    <pre class="overflow-x-auto">Click on PayPal button ...</pre>
                </div>
                <div class="PPresultCreateTransaction flex flex-col gap-2 bg-slate-100 my-4 p-4 rounded-lg">
                    <h2 class="underline">Transaction create response :</h2>
                    <pre class="overflow-x-auto">Wait for the transaction to be created ...</pre>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    const currency = '<%= currency %>'
</script>

<script src="jsonEditor.js"></script>
<script src="app.js"></script>

</html>